.App{
  background-color: #282c34;
  min-height: 100vh;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.profile{
  color: #ffffff;
  display: flex;
  padding: 50px;
  border: tomato;
  border: double;
}
.btn {
  display:inline-block;
  font-weight:300;
  background-color:#011c3a;
  transition: all 0.15s;
  color:#0ab3dd;
  box-sizing: border-box;
  margin: 50px;
  border-radius:2em;
  padding:0.9em 2em;
  width: 120px;
}
.btn:hover{
text-shadow: 0 0 2em rgb(114, 96, 96);
color:#FFFFFF;
border-color:#FFFFFF;
  }

.imgContainer{


}

.img {
  border-radius: 4px;
  padding: 30px;
  width: 400px;
  border-radius: 50%
  
}
